* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.navTop {
  display: flex;
 
  
}

.navItem{
  align-content: center;
  padding-left: 300px;
  font-size:30px;
}
.view{
    display: flex;
   
    
}
.navBottom {
   color: purple;
    align-items: left;
    justify-content: center;
   font-size: larger;
  }
.warpper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 450px;
    height: 550px;
    margin-top: 70px;
    margin-left: 60px;
    background: #ffffff36;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease ;
}

.warpper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size:48px ;
    color: orange;
    text-align: center;
   
}

.input-box {
    position: relative;
    width: 100% ;
    height: 50px;
    border-bottom: 2px solid orange;
    margin: 30px 0 ;
    padding-left: 40px;
   
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transform: .5s;
   
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -3px;
}

.input-box input {
    width: 100% ;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(252, 251, 251);
    font-weight: 300;
    padding: 0 35px 0 5px;
}

.remember-forgot {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    text-decoration: none;
    color: black;
}

.remember-forgot a:hover {

    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 35px;
    top: 17px;
    background: orange;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    position: relative;
}

.login-regester {
    font-size: 1rem;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    
}

.login-regester p a {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

.login-regester p a:hover {
    text-decoration: underline;
}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: white;
}

.tbody{
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    width: 90%;

}

/*dashboard*/
.dashboard-container {
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 180px;
    text-align: center;
    margin-left: 290px;
}



.dashboard-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}

.dashboard-button {
    display: block;
    padding: 20px;
    width: 230px;
    text-decoration: none;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    font-size: 20px;
    transition: background-color 0.3s ease;

}

.dashboard-button:hover {
    background-color: #ddd;
}